* {
    padding: 0;
    margin: 0;
    font-family: "Sigmar", sans-serif;
}

.linha {
    border: none;
    height: 4px;
    background: #ffffff5b;
    border-radius: 2px;
    width: 100%;
}
    
body {
    background-color: #eeeeee;
    height: 1000vh;
}

.head {
    display: flex;
    justify-content: center;
    gap: 12vh;
    background-color: #D38C8D;
    font-size: 2rem;
}

#carrocel {
    display: flex;
    font-size: 5rem;
    background-color: #762324;
    height: 75vh;
}

#img_hamburger_1 {
    position:absolute;
    top: 2vh;
    left: -15vh;
    width: 87vh;
    height: auto;
}

#img_carrocel {
    top: 0;
    width: 100%;
    height: 100%;
}

#navbar_cardapio {
    width: 100%;
    color: rgba(0, 0, 0, 0.432);
    height: 5vh;
    align-items: center;
    margin-top: 7vh;
}

#navbar_cardapio_list {
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
    list-style: none;
}

#navbar_cardapio_list li {
    cursor: pointer;
    transition: color 0.3s ease;
}

#navbar_cardapio_list li.ativo {
    color: red;
}

#container_produtos {
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
}

#container_produtos h1 {
    font-size: 3rem;
}

.container_cards_lista {
    margin-top: 2rem
}

.container_cards_lista{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    

}

.card_prod {
    display: flex;
    background-color: #D38C8D;
    width: 46vh;
    height: 38vh;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}

.card_prod img{
    width: auto;
    height: 100%;
}

.card_nome {
    background-color: #fff;
    height: 4rem;
    border-radius: 1rem;
    padding-left:1rem;
    line-height: 4rem;
    margin-bottom: 2rem;
}

.container_produtos_lista {
    margin-bottom: 6rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #762324;
    height: 50vh;
    font-size: 2rem;
    margin-top: 30vh;
    text-align: center;
}

.footer img{
    position: relative;
    height: auto;
    width: 35vh;
    top: -15vh;
}

.footer_top {
    height: 50%;
}

.footer_top p {
    color: rgba(0, 0, 0, 0.37);
    position: relative;
    top: -14vh;
}

.footer_bottom {
    height: 50%;
}

.footer_bottom p {
    margin-top: 2rem;
}

.footer_redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}